
.App {
  text-align: center;
}

 .container {
   height: 100vh;
   display: grid;
   place-items: center;
   justify-content: center;
   grid-template-columns: 1fr 75vw 1fr;
   grid-template-rows: 1fr 2fr 2fr;
   gap: 5px 5px
 }

.timecontainerouter {
  grid-column: 2 / 3;
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px 2px;
}

.starttimecontainer {
  grid-column: 1 / 2;
}

.endtimecontainer {
  grid-column: 3;
}